name: Lint Check

on:
  workflow_call:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  clang-tidy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cavise/artery:base
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Prepare venv
        run: python3 -m venv venv

      - name: Install deps
        run: . venv/bin/activate && pip install -r src/artery/sionna/requirements.txt

      - name: Generate Compile Commands
        run: |
          . venv/bin/activate && python3 tools/build.py -cl \
            --generator Ninja \
            -D WITH_SIMULTE:BOOL=ON \
            -D WITH_OTS:BOOL=ON \
            -D WITH_TESTBED:BOOL=ON \
            -D WITH_TESTS:BOOL=ON \
            -D WITH_SIONNA:BOOL=ON \
            -D WITH_TRANSFUSION:BOOL=ON \
            -D CMAKE_EXPORT_COMPILE_COMMANDS:BOOL=ON && \
          cmake --build build/Debug --target artery-codegen

      - name: Run Clang-Tidy Review
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          review \
            --repo ${{ github.repository }} \
            --pr ${{ github.event.pull_request.number }} \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --build_dir build/Debug \
            --clang_tidy_binary clang-tidy \
            --config_file ".clang-tidy"
